
#wrapper {
    width: 100%;
    height: 100%;
    min-height: 275px;
    margin: 0px 0 0 0;
    position: relative;
    bottom: 0;
    left: 0;
}
#inner {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
#carousel div {
    background: #fff;
    width: 350px;
    height: 250px;
    float: left;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    position: relative;
}
#prev, #next {
        display: block;
        width: 50px;
        height: 80px;
        margin-top: -40px;
        position: absolute;
        top: 50%;
        z-index: 2;
}
#prev {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_hover.png ) 0 0px no-repeat;
    left: 50%;
    margin-left: -500px;
}
#prev:hover {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_hover.png ) -49px 0px no-repeat;
    left: 50%;
    margin-left: -500px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
#next {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_hover.png ) 0px 0px no-repeat;
    right: 50%;
    margin-right: -500px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
#next:hover {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_hover.png ) -49px 0px no-repeat;
    right: 50%;
    margin-right: -500px;
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg); /* Для Opera */
    transform: rotate(0deg);
}

/* ===========================================GLAVNAYA========================================= */
#wrapper_glav {
    width: 100%;
    height: 100%;
    min-height: 275px;
    margin: 0px 0 0 0;
    position: relative;
    bottom: 0;
    left: 0;
}
#inner_glav {
    width: 100%;
    height: 360px;
    margin-top: -25px;;
    position: relative;
    overflow: hidden;
}
#carousel_glav {
   // height: 350px;
}
#carousel_glav div {
    width: 321px;
    height: 360px;
    float: left;
    //padding: 10px;
    //margin: 0 30px;
    text-align: center;
    position: relative;
}
#prev_glav, #next_glav {
        display: block;
        width: 50px;
        height: 80px;
        margin-top: -40px;
        position: absolute;
        top: 50%;
        z-index: 2;
}
#prev_glav {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_glavnaja.png ) 0 0px no-repeat;
    left: 50%;
    margin-left: -530px;
}
#prev_glav:hover {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_glavnaja.png ) -49px 0px no-repeat;
    left: 50%;
    margin-left: -530px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
#next_glav {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_glavnaja.png ) 0px 0px no-repeat;
    right: 50%;
    margin-right: -530px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
#next_glav:hover {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_glavnaja.png ) -49px 0px no-repeat;
    right: 50%;
    margin-right: -530px;
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg); /* Для Opera */
    transform: rotate(0deg);
}
/* ===========================================SAND========================================= */

#wrapper_sand {
    width: 100%;
    height: 380px;
    min-height: 275px;
    margin: 0px 0 0 0;
    position: relative;
    bottom: 0;
    left: 0;
}
#inner_sand {
    width: 100%;
    height: 173px;
    /* margin-top: 20px; */
    position: relative;
    margin-top: 71px;
}
#carousel_sand div {
    width: 225px;
    height: 246px;
    float: left;
    /* padding: 10px; */
    /* margin: 0 5px; */
    /* margin: 0 30px; */
    text-align: center;
    position: relative;
    /* overflow: visible; */
}
#prev_sand, #next_sand {
    display: block;
    width: 50px;
    height: 80px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    z-index: 2;
}
#prev_sand {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_glavnaja.png ) 0 0px no-repeat;
    left: 50%;
    margin-left: -520px;
}
#prev_sand:hover {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_glavnaja.png ) -49px 0px no-repeat;
    left: 50%;
    margin-left: -520px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
#next_sand {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_glavnaja.png ) 0px 0px no-repeat;
    right: 50%;
    margin-right: -520px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
#next_sand:hover {
    width: 49px;
    height: 86px;
    background: url(/img/arrow_glavnaja.png ) -49px 0px no-repeat;
    right: 50%;
    margin-right: -520px;
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg); /* Для Opera */
    transform: rotate(0deg);
}