@font-face {
    font-family: Univers_Condensed_Bold; 
    src: url(/fonts/Univers_Condensed_Bold.ttf); 
}
@font-face {
    font-family: Univers_Condensed_Bold_Italic; 
    src: url(/fonts/Univers_Condensed_Bold_Italic.ttf); 
}
@font-face {
    font-family: Univers_Condensed_Medium; 
    src: url(/fonts/Univers_Condensed_Medium.ttf); 
}
@font-face {
    font-family: Univers_Condensed_Medium_Italic; 
    src: url(/fonts/Univers_Condensed_Medium_Italic.ttf); 
}
@font-face {
    font-family: Ubuntu_Regular; 
    src: url(/fonts/Ubuntu_Regular.ttf); 
}
@font-face {
    font-family: Ubuntu_Bold; 
    src: url(/fonts/Ubuntu_Bold.ttf); 
}
@font-face {
    font-family: Tahoma_Regular; 
    src: url(/fonts/Tahoma_Regular.ttf); 
}
@font-face {
    font-family: Tahoma_Bold; 
    src: url(/fonts/Tahoma_Bold.ttf); 
}
.container{
    width: 960px;
    position: relative;
    padding: 0;
}
body{
    line-height: normal;
}
.row{
    margin: 0;
}
.header{
    width: 100%;
    height: 104px;
    background: #fff;
}
.footer{
    width: 100%;
    height: 104px;
    background: #fff;;
    position: relative;
}
.header_arenda{
    color: #000;
    font-family: Tahoma_Bold;
    font-size: 25px;
    line-height: 37.56px;
    width: 450px;
    float: left;
    margin: 16px 9px;
    text-transform: uppercase;
}
.header_arenda span{
    text-transform: none;
    font-family: Tahoma_Regular; 
}
.header_number_box{
    width: 262px;
    height: 104px;
    padding: 21px 9px 0px 0px;
    float: right;
}
.header_arrow{
    display: block;
    float: left;
    margin-top: 8px;
}

.header_call{
    color: #000000;
    font-family: Tahoma_Regular;
    font-size: 18px;
    float: right;
    background: #FFAE00;
    width: 223px;
    height: 25px;
    padding: 1px 0 0 12px;
}

.header_number{
    color: #FFAE00;
    font-family: Tahoma_Regular;
    float: right;
    font-size: 30px;
    padding-top: 6px;
}
.after_header{
    width: 100%;
    min-width: 960px;
    overflow: hidden;
    height: 596px;
    background: #EDEBEC repeat;
    position: relative;
}
.after_header_bgr{
    background: url('/img/under_header_bgr.jpg') center no-repeat;
    position: absolute;
    width: 2100px;
    height: 596px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.after_header_title{
    font-family: Univers_Condensed_Medium;
    color: #000;
    font-size: 68px;
    margin: 12px 0 0 107px;
    z-index: 1;
    position: absolute;
}
.avtovishki{
    width: 1199px;
    height: 596px;
    position: absolute;
    background: url('/img/avtovishki.jpg') center no-repeat, #d1d1d1;
    top: 0px;
    left: -229px;
}
.pogruzchik{
    width: 1199px;
    height: 596px;
    position: absolute;
    background: url('/img/pogruzchik.jpg') center no-repeat, #d1d1d1;
    top: 0px;
    left: -191px;
}
.avtokran{
    width: 1199px;
    height: 596px;
    position: absolute;
    background: url('/img/avtokran.jpg') center no-repeat, #d1d1d1;
    top: 0px;
    left: -229px;
}
.dlinnomer{
    width: 1199px;
    height: 596px;
    position: absolute;
    background: url('/img/dlinnomer.jpg') center no-repeat, #d1d1d1;
    top: 0px;
    left: -216px;
}
.button_zakaz{
    width: 309px;
    height: 70px;
    background: url('/img/button_zakaz.png') 0 0;
    border: none;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    outline: none;
}
.button_zakaz:hover{
    background-position: 0 -70px;
}
.button_zakaz:active{
     background-position: 0 -140px;
}
.form_zakaz_box{
    width: 401px;
    height: 381px;
    margin: 99px  10px 0 0;
    float: right;
    position: relative;
    background: url('/img/bgr_form_top.png') 0 0;
}
.form_zakaz_text_top{
    color: #000000;
    font-size: 40px;
    font-family: Tahoma_Regular;
    text-align: center;
    margin: 41px 0 00px;
}
.form_zakaz_text_bot{
    color: #515151;
    font-size: 21px;
    font-family: Ubuntu_Regular;
    text-align: center;
    margin: 6px 0 0 0;
}

.form_zakaz_name input{
    width: 294px;
    height: 37px;
    border: 2px solid #fff;
    color: #c4c4c4;
    font-size: 18px;
    font-family: Tahoma_Regular;
    padding: 5px 0 0 11px;
    position: relative;
    margin: 0 auto;
    display: block;
    outline: none;
    margin-top: 36px;
}
.form_zakaz_name input:focus{
    border: 2px solid #ffae00;
    color: #000000;
}
.form_zakaz_name input:hover{
    border: 2px solid #ffae00;
    color: #000000;
}

.form_zakaz_phone input{
    width: 294px;
    height: 37px;
    border: 2px solid #fff;
    color: #c4c4c4;
    font-size: 18px;
    font-family: Tahoma_Regular;
    padding: 5px 0 0 11px;
    margin: 0 auto;
    display: block;
    outline: none;
    margin-top: 20px;
}
.form_zakaz_phone input:focus{
    border: 2px solid #ffae00;
    color: #000000;
}
.form_zakaz_phone input:hover{
    border: 2px solid #ffae00;
    color: #000000;
}

.call_box{
    width: 100%;
    height: 318px;
    background: #fff repeat;
}
.call_box_reviews{
    width: 100%;
    height: 308px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.zakaz_u_nas{
    font-family: Tahoma_Regular;
    font-size: 46px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    float: left;
    margin: 45px 10px;
}
.cube_left_reviews{
    background: url('/img/cube_left.png') center no-repeat;
    width: 67px;
    height: 12px;
    float: left;
    margin-left: 301px;
    margin-top: 69px;
}
.cube_left{
    background: url('/img/cube_left.png') center no-repeat;
    width: 67px;
    height: 12px;
    float: left;
    margin-left: 87px;
    margin-top: 69px;
}
.cube_right{
    background: url('/img/cube_left.png') center no-repeat;
    width: 67px;
    height: 12px;
    float: left;
    margin-top: 69px;
    -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
    
}
.form_zakaz_box_2{
    width: 941px;
    height: 198px;
    margin: 60px 0px;
    float: right;
    position: relative;
    background: url('/img/bgr_form_top_2.png') 0 0;
}
.form_zakaz_box_3{
    width: 941px;
    height: 198px;
    margin: 0px 0px;
    float: right;
    position: relative;
    background: url('/img/bgr_form_top_2.png') 0 0;
}
.reviews_space{
    position: relative;
    height: 308px;
    width: 100%;
}
.form_zakaz_text_top_2{
  color: #000;
  font-size: 40px;
  font-family: Tahoma_Regular;
  margin: 40px 0 0 209px;
  float: left;
}
.form_zakaz_text_bot_2{
    color: #515151;
    font-size: 21px;
    display: inline-block;
    font-family: Tahoma_Regular;
    margin: 58px 0 0 13px;
}

.form_box{
    width: 100%;
    position: relative;
    height: 85px;
    overflow: hidden;
}
.form_zakaz_name_2 input{
    margin: 30px 0 0 41px;
    position: relative;
    top: 0px;
    width: 264px;
    height: 37px;
    border: 2px solid #848484;
    color: #c4c4c4;
    font-size: 18px;
    font-family: Tahoma_Regular;
    padding: 5px 0 0 11px;
    outline: none;
    float: left;
}
.form_zakaz_name_2 input:focus{
    border: 2px solid #ffae00;
    color: #000000;
}
.form_zakaz_name_2 input:hover{
    border: 2px solid #ffae00;
    color: #000000;
}

.form_zakaz_phone_2 input{
margin: 30px 0 0 24px;
    width: 264px;
    height: 37px;
    position: relative;
    float: left;
    border: 2px solid #848484;
    color: #c4c4c4;
    font-size: 18px;
    font-family: Tahoma_Regular;
    padding: 5px 0 0 11px;
    outline: none;
}
.form_zakaz_phone_2 input:focus{
    border: 2px solid #ffae00;
    color: #000000;
}
.form_zakaz_phone_2 input:hover{
    border: 2px solid #ffae00;
    color: #000000;
}
.button_zakaz_2{
    width: 309px;
    height: 70px;
    background: url('/img/button_zakaz.png') 0 0;
    border: none;
    position: relative;
    display: block;
    outline: none;
    margin: 14px 0 0 10px;
    float: left;
}
.button_zakaz_2:hover{
    background-position: 0 -70px;
}
.button_zakaz_2:active{
     background-position: 0 -140px;
}
.reviews_box{
    width: 100%;
    min-height: 1372px;
    overflow: hidden;
    position: relative;  
}
.reviews_bgr{
    background: url('/img/bgr_reviews.jpg') center no-repeat;
    margin: 0 auto;
    width: 2098px;
    height: 1372px;
    position: absolute;
    left: 0;
    right: 0;
}
.reviews{
    width: 941px;
    height: auto;
    position: relative;
    display: inline-block;
    margin: 40px auto;
}
.img_avatarKaina{
    width: 118px;
    height: 118px;
}
.reviews:nth-child(2n) .avatarKaina{
    float: right;
    position: relative;
    width: 124px;
    height: 124px;
    border:3px solid #ffb81f;
}
.reviews:nth-child(2n+1) .avatarKaina{
    float: left;
    width: 124px;
    position: relative;
    height: 124px;
    border:3px solid #ffb81f;
}

.reviews:nth-child(2n+1) .white_triangle{
    position: absolute;
    right: -3px;
    top: 20px;
    z-index: 1;
    
}

.reviews:nth-child(2n) .white_triangle{
    position: absolute;
    left: -3px;
    top: 20px;
    z-index: 1;
    -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.reviews:nth-child(2n) .white_box{
    background: rgba(255, 255, 255, 0.88);
    border: 1px solid #ffb81f;
    width: 818px;
    min-height: 124px;
    margin-top: 23px;
    position: relative;
    right: -1px;
    padding: 31px 21px;
}
.reviews:nth-child(2n+1) .white_box{
    background: rgba(255, 255, 255, 0.88);
    border: 1px solid #ffb81f;
    width: 817px;
    min-height: 124px;
    margin-top: 23px;
    position: relative;
    left: -1px;
    float: right;
    padding: 31px 21px;
}
.reviews:nth-child(2n+1) .white_box_text{
    text-align: left;
    font-size: 14px;
    font-family: Tahoma_Regular;
    color: #515151;
    line-height: 26px;
}
.reviews:nth-child(2n) .white_box_text{
    text-align: left;
    font-size: 14px;
    font-family: Tahoma_Regular;
    color: #515151;
    line-height: 26px;
}
.reviews:nth-child(2n) .white_box_name{
    text-align: left;
    font-size: 16px;
    font-family: Tahoma_Regular;
    color: #000;
    line-height: 26px;
    margin-top: 30px;
}
.reviews:nth-child(2n+1) .white_box_name{
    text-align: right;
    font-size: 16px;
    font-family: Tahoma_Regular;
    color: #000;
    line-height: 26px;
    margin-top: 30px;
}
.form_zakaz_box_pogr{
    width: 367px;
    height: 363px;
    margin: 99px 10px 0 0;
    float: right;
    position: relative;
    background: url('/img/bgr_form_top.png') 0 0;
}

.active[animate]{
 //   opacity: 1!important;
}
.car_romb_right{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
}
.car_romb_left{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
}
.znak_1{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0;
}
.znak_2{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
}
.znak_3{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
}
.znak_4{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
}
.znak_5{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
}
.znak_6{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
}

/* overlay mail */

/* Форимируем слой затемнения фона */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
/* Позиционирум медиа-элементы внутри окна */
.is-image {
  width: 100%;
  display: inline-block;
  height: auto;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 0; left: 0; bottom: 0; right: 0;
}
embed, iframe {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
 
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}
/* Формируем и позиционируем всплывающее окно */
.popup { 
  min-width: 521px;
  max-width: 521px;
  width: 521px;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 15px;
  position: fixed;
  font-size: 14px;
  top: 0;
  visibility: hidden;
  z-index: 10;
  border-radius: 0px;
  transition: opacity .5s, top .5s;
}
/* Устанавливаем позицию появления окна */ 
.overlay:target+.popup {
    top: 42%;
    opacity: 1;
    visibility: visible;
}
/* Оформляем и позицонируем кнопку закрытия */
.close {
    background: url('/img/close.png') no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    top:20px;
    right: 20px;
    top: 25px;
    right: 25px;
    opacity: 1;
}
.close:hover {
    background: url('/img/close_active.png') no-repeat;
    opacity: 1;
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.overlay:target + .popup {
    opacity: 1;
    top: 42%;
    visibility: visible;
    z-index: 999;
}
.is-image{
    border-radius: 0; 
}
/* overlay mail*/

.element-animation{
  animation: animationFrames ease 1.0s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease 1.0s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease 1.0s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease 1.0s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease 1.0s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(-54px,-26px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(2px,2px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(-54px,-26px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(2px,2px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(-54px,-26px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(2px,2px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(-54px,-26px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(2px,2px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(-54px,-26px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(2px,2px)  ;
  }
}

/*glavanja*/
.glavnaja_box{
    width: 100%;
    background: #d1d1d1;
    height: 525px;
    position: relative;
    padding-top: 81px;
}
.glavnaja_bgr{
  width: 100%;
  height: 525px;
  position: fixed;
  top: 0px;;
  background: url('/img/bgr_glavnaja.png') center no-repeat;
}
#glavnaja_dlinnomer_img{
    margin-top: 50px;
}
#glavnaja_avtokran_img{
    margin-top: 34px;
}
.container_glavnaja{
    position: fixed;
    left: 0;
    right: 0;
}
.glavnaja_block{
    width: 320px;
    height: 367px;
    position: relative;
    float: left;
}


.glavnaja_block_button{
    width: 201px;
    height: 60px;
    background: url('/img/button_podrobnee.png') 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: none;
    display: block;
    margin-left: 50px;
}
.glavnaja_block_button:hover{
    background-position: 0 -60px;
}
.glavnaja_block_button:active{
    background-position: 0 -120px;
}
.glavnaja_block_title{
    margin: 0 auto;
    position: relative;
    font-family: Univers_Condensed_Medium;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 38px;
}

/* sand */
.sand_text{
    font-size: 18px;
    color: #000000;
    font-family: Tahoma_Regular;
    text-align: center;
    margin: 30px 0 0 0;
    text-transform: uppercase;
}
.sand_text_under{
    font-size: 18px;
    color: #000000;
    font-family: Tahoma_Bold;
    text-align: center;
    margin: 3px 0 0 0;
    text-transform: uppercase;
}
.sand_box{
    width: 240px;
    height: 254px;
    position: relative;
    float: left;
    text-align: center;
}
.button_sand{
    width: 178px;
    height: 60px;
    background: url('/img/button_sand.png') 0 0;
    outline: none;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 92px;
}
.button_sand:hover{
    background-position: 0 -60px;
}
.button_sand:active{
    background-position: 0 -120px;
}
.zakaz_u_nas_reviews{
    font-family: Tahoma_Regular;
    font-size: 46px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    float: left;
    margin: 45px 10px;
    margin-bottom: 20px;
}
.cube_box_reviews{
    width: 100%;
    height: 110px;
}
.cube_box{
    width: 100%;
    height: 180px;
}
.dont_do_this_again{
    margin: 0 auto;
    float: none;
    display: table;
    right: 0;
    left: 0;
    margin-top: 300px;
    margin-bottom: 63px;
    position: relative;
}
.sand_cube{
    position: absolute;
    top: 33px;
    left: 46px;
}
.rotated {
    -moz-transition: all 0.7s ease;/* WebKit */
    -webkit-transition: all 0.7s ease;/* Opera */
    -o-transition: all 0.7s ease;/* Standard */
    transition: all 0.7s ease;
    -webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(45deg);  /* IE 9 */
    -o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
    transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.unrotated {
    -moz-transition: all 0.7s ease;/* WebKit */
    -webkit-transition: all 0.7s ease;/* Opera */
    -o-transition: all 0.7s ease;/* Standard */
    transition: all 0.7s ease;
    -webkit-transform: rotate(0deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(0deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(0deg);  /* IE 9 */
    -o-transform: rotate(0deg);  /* Opera 10.50-12.00 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.secret{
    position: absolute;
    display: block;
    z-index: 1;
    top: 20px;
    left: 26px;
    width: 173px;
    height: 173px;
    background: transparent;
}
.sand_img{
    margin-top: 20px;
}
/* sand */
.orange_line{
    background: #ffae00;
    height: 240px;
    width: 100%;
    position: relative;
}
.prem_box{
    width: 150px;
    margin: 64px 45px 0 45px;
    float: left;
    text-align: center;
}
.prem_text{
    font-family: Tahoma_Regular;
    font-size: 18px;
    line-height: 22px;
}

.spec_slider_bgr{
    background: #ecebeb;
    height: 565px;
    width: 100%;
}