@font-face {
    font-family: newscondensed; /* Имя шрифта */
    src: url(/fonts/newscondensed.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
 font-family: newscondensed_oblique; /* Имя шрифта */
 src: url(/fonts/newscondensed_oblique.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: tahomabold; /* Имя шрифта */
 src: url(/fonts/tahomabold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: newscondensed_bold; /* Имя шрифта */
 src: url(/fonts/newscondensed_bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: pwscratchy; /* Имя шрифта */
 src: url(/fonts/pwscratchy.ttf); /* Путь к файлу со шрифтом */
}
.container{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.content-line{
    z-index: 2;
    height: 258px;
    background: url("/img/02.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 62px;
}

a:hover {
color: #f6f6f6;
text-decoration: none;
}

.header-line{
    height: 62px;
    background-color: #f6f6f6;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 4px solid #e8e8e8;
    z-index: 10;
}

.header-line ul {
    list-style: none;
    margin-left: 108px;
}
.header-line ul li {
    float: left;
    width: 81px;
    height: 28px;
    margin: 16px 14px;
}
.header-line ul li.li_menu a{
    font-family: NewsCondensed;
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    height: 28px;
    width: 81px;
    text-align: center;
    display: block;
    line-height: 28px;
    //margin: 16px 14px;
}
#main_menu li ul{
    display: none;
    position: absolute;
    left: -152px;
}
#main_menu li:hover ul{
    display: block;
}
#main_menu li ul li{
    background: #a72121;
    margin:4px;
}
#main_menu li ul li:hover{
    background: #a72121;
}
#main_menu li ul li a{
    font-size: 12px;
    color:#ffffff;
}
.li_menu ul li a:hover{
    background: #64d14e;
}
#main_menu li{
    position: relative;
}
.header-line ul li.li_menu.active a,.header-line ul li.li_menu a:hover {
    background: #C52727;
    color: #f6f6f6;
}
#logo_img a{
    margin-top: -5px;
    display: block;
}
#logo_img{
    width: auto;
    height: auto;
    margin: 0;
}

.box-menu{
    position: relative;
    height: 62px;
    width: 1024px;
    //background: #c9e2b3;
    margin: 0 auto;
    
}
.button-menu {
    text-align: center;
    font-family: NewsCondensed;
    height: 34px;
    width: 128px;
    padding: 10px 10px;
    /* background: #0000E1; */
    float: left;
    margin: 5px;
    margin-top: 17px;
    font-size: 14px;
    color: #333333;
}
.button-menu a:hover {
    text-align: center;
    height: 34px;
    width: 128px;
    padding: 10px 10px;
    float: left;
    margin: -10px;
    font-size: 14px;
    background: #C52727;
}
.logo {
    z-index: 1;
    overflow: hidden;
    width: 129px;
    height: 118px;
    float: left;
    margin-top: -15px;
    background: url('/img/logo.png');
}
.logo_circle {
    width: 169px;
    height: 115px;
    border-color: #000000;
    background-color: #F6F6F6;
    border-radius: 0px 0px 150px 150px;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -84px;
}
.promo{
    width: 500px;
    height: 100px;
    font-family: tahomabold;
    font-size: 43px;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    border-bottom: 3px solid #f6f6f6;
    margin: 80px 292px;
    display: block;
    float: left;
}
.left-promo{
    height: 258px;
    width: 200px;
    left: 0px;
    position: absolute;
}
.right-promo{
    height: 258px;
    width: 200px;
    right: 0px;
    position: absolute;
    top: 62px;
}
.planshet{
    background: url('/img/planshet.png');
    position: absolute;
    width: 161px;
    height: 82px;
    margin-top: 163px;
    left: -12px;
}
.stiker{
    background: url('/img/stiker.png');
    position: absolute;
    width: 35px;
    height: 34px;
    margin-top: 109px;
    left: 20px;
}
.tee_hand{
    background: url('/img/tee_hand.png');
    position: absolute;
    width: 102px;
    height: 104px;
    margin-top: -17px;
    left: -15px;
}
.karandash{
    background: url('/img/karandash.png');
    position: absolute;
    width: 13px;
    height: 53px;
    margin-top: 42px;
    left: 142px;
}
.page_hand{
    background: url('/img/page_hand.png');
    position: absolute;
    width: 124px;
    height: 139px;
    margin-top: 2px;
    right: 0px;
}
.flashka{
    background: url('/img/flashka.png');
    position: absolute;
    width: 27px;
    height: 30px;
    margin-top: 40px;
    right: 164px;
}
.marker{
    background: url('/img/marker.png');
    position: absolute;
    width: 39px;
    height: 36px;
    margin-top: 126px;
    right: 112px;
}
.mobila{
    background: url('/img/mobila.png');
    position: absolute;
    width: 23px;
    height: 39px;
    margin-top: 178px;
    right: 156px;
}
.notebook{
    background: url('/img/notebook.png');
    position: absolute;
    width: 110px;
    height: 94px;
    margin-top: 164px;
    right: 24px;
}
.wwd{
    background: #f6f6f6;
    height: 446px;
    width: 100%;
}
.red_line{
    margin-top: 7px;
    width: 100%;
    height: 76px;
    background: #C52727;
    position: absolute;
}
.red_line_top{
    margin-top: 4px;
    width: 100%;
    height: 2px;
    background: #a72121;
    position: absolute;
}
.red_line_bottom{
    margin-bottom: 4px;
    width: 100%;
    height: 2px;
    background: #a72121;
    bottom: 0px;
    position: absolute;
}
.wwd_text{
    font-family: newscondensed;
    font-size: 32px;
    height: 50px;
    width: 316px;
    text-align: center;
    text-transform: uppercase;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    line-height: 50px;
    background: #C52727;
}
.white_line_middle{
    width: 100%;
    height: 1px;
    background: #f6f6f6;
    position: absolute;
    top: 0;
    bottom: 0px;
    margin: auto auto;
}
.box-wwd{
    width: 800px;
    margin: 0px auto;
    margin-top: 100px;; 
}
.obj{
    width: 100px;
    height: 130px;
    float: left;
    margin: 30px 30px 0 30px;
}
.obj_text{
    font-family: newscondensed;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 10px;
}
.circle_1:hover{
    background: url("/img/circle1.png") center center no-repeat #C52727;
}
.circle_1{
    display: block;
    background: url("/img/circle1.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}

.circle_2:hover{
    background: url("/img/circle2.png") center center no-repeat #C52727;
}
.circle_2{
    display: block;
    background: url("/img/circle2.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}


.circle_3:hover{
    background: url("/img/circle3.png") center center no-repeat #C52727;
}
.circle_3{
    display: block;
    background: url("/img/circle3.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}
.circle_4:hover{
    background: url("/img/circle4.png") center center no-repeat #C52727;
}
.circle_4{
    display: block;
    background: url("/img/circle4.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}
.circle_5:hover{
    background: url("/img/circle5.png") center center no-repeat #C52727;
}
.circle_5{
    display: block;
    background: url("/img/circle5.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}
.circle_6:hover{
    background: url("/img/circle6.png") center center no-repeat #C52727;
}
.circle_6{
    display: block;
    background: url("/img/circle6.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}
.circle_7:hover{
    background: url("/img/circle7.png") center center no-repeat #C52727;
}
.circle_7{
    display: block;
    background: url("/img/circle7.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}
.circle_8:hover{
    background: url("/img/circle8.png") center center no-repeat #C52727;
}
.circle_8{
    display: block;
    background: url("/img/circle8.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}
.circle_9:hover{
    background: url("/img/circle9.png") center center no-repeat #C52727;
}
.circle_9{
    display: block;
    background: url("/img/circle9.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}
.circle_10:hover{
    background: url("/img/circle10.png") center center no-repeat #C52727;
}
.circle_10{
    display: block;
    background: url("/img/circle10.png") center center no-repeat #afacac;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    margin: 0 auto;
    margin-top: 10px;
}

.wwa{
    background: #f6f6f6;
    height: 580px;
    width: 100%;
}
.red_line2{
    width: 100%;
    height: 170px;
    background: #C52727;
    position: absolute;
}
.wwa_text{
    font-family: newscondensed;
    font-size: 32px;
    height: 50px;
    width: 272px;
    text-align: center;
    text-transform: uppercase;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 6px;
    line-height: 50px;
    background: #C52727;
}
.white_line_middle2{
    width: 100%;
    height: 1px;
    background: #f6f6f6;
    position: absolute;
    top: 30px;
    margin: auto auto;
}
.ramki_bgr{
    background: linear-gradient(to top, #a1a09f, #dcdbdc);
    height: 430px;
    width: 100%;
    margin-top: 170px;
    position: absolute;
}
.ramki{
    height: 413px;
    margin: auto;
    width: 1030px;
    background: url('/img/ramki.png');
    margin-top: 167px;
    position: relative;
}
.ramki_balagodarnosti{
    position: absolute;
    width: 971px;
    height: 179px;
    top: 83px;
    left: -9px;
}
.blagodarnosti_img{
    margin-left: 62px;
    background-size: cover;
    width: 129px;
    height: 180px
}
.blagodarnosti_img:hover {
    zoom: 3;
    position: absolute;
    z-index: 3;
    margin: 0 auto;
}
.ramki_text{
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    font-family: newscondensed;
    font-size: 32px;
    padding-top: 16px;
}
.footer{
    
}
.red_line3{
    width: 100%;
    height: 250px;
    background: #C52727;
    position: absolute;
}
.footer_text1{
    font-family: newscondensed;
    font-size: 32px;
    height: 50px;
    width: 560px;
    text-align: center;
    text-transform: uppercase;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    line-height: 50px;
    background: #C52727;
}
.footer_text2{
    font-family: newscondensed;
    font-size: 32px;
    height: 50px;
    width: 272px;
    text-align: center;
    text-transform: uppercase;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    line-height: 50px;
    background: #C52727;
    border: 1px solid #f6f6f6;
    z-index: 1;
}
.footer_text2:hover{
    background: rgba(255, 250, 250, 0.5);
}
.footer_text3{
    font-size: 20px;
    height: 30px;
    width: 190px;
    top: 180px;
    line-height: 30px;
}
.left_hand{
    position: absolute;
    background: url('/img/left_hand.png');
    width: 240px;
    height: 132px;
    bottom: 0;
    top: 0px;
    left: 0px;
    margin: auto auto;
}
.right_hand{
    position: absolute;
    background: url('/img/right_hand.png');
    width: 240px;
    height: 132px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    margin: auto auto;
}

.footer_box1{
    width: 286px;
    height: 120px;
    float: left;
    margin-top: 280px;
    margin-left: 26px;
}
.footer_box2{
    width: 444px;
    height: 120px;
    float: left;
    margin-top: 280px;
}
.footer_box3{
    width: 286px;
    height: 120px;
    float: left;
    margin-top: 280px;
}
.punktir{
    width: 2px;
    height: 120px;
    float: left;
    margin-top: 280px;
    background: url('/img/punktir.png');
}
.red_line4{
    width: 100%;
    height: 184px;
    background: #a72121;
    position: absolute;
    margin-top: 250px;
}
.city_info{
    font-family: newscondensed;
    font-size: 20px;
    color: #f6f6f6;
    display: block;
    padding-bottom: 16px;
    margin-top: 6px;
}
.phone1{
    display: block;
    background: url('/img/phone1.png') no-repeat;
    float: left;
    width: 17px;
    height: 21px;
    margin-top: 4px;
}
.phone2{
    display: block;
    background: url('/img/phone2.png') no-repeat;
    float: left;
    width: 17px;
    height: 21px;
    margin-top: 4px;
}
.phone_number{
    font-family: newscondensed;
    font-size: 16px;
    color: #f6f6f6;
    display: block;
    height: 21px;
    width: 200px;
    margin-left: 30px;
    margin-top: 4px;
}
.email a {
    text-decoration: none;
    color: #f6f6f6;
    font-family: newscondensed;
    font-size: 16px;
    color: #f6f6f6;
    display: block;
    margin-left: 30px;
    margin-top: 4px;
}
.email_img{
    display: block;
    background: url('/img/email.png') no-repeat;
    float: left;
    width: 19px;
    height: 12px;
    margin-top: 8px;
}
.news{
    width: 328px;
    height: 58px;
    border: 1px solid #f6f6f6;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #f6f6f6;
    text-align: center;
    font-family: newscondensed;
    font-size: 28px;
    padding-top: 7px;
    display: inline-block;
    margin-left: 60px;
    text-transform: uppercase;
}
.news:hover{
    background: rgba(255, 250, 250, 0.5);
}
.microfhone{
    background: url('/img/microphone.png');
    float:right;
    height: 48px;
    width: 57px;
    margin: -7px 10px 0px 0px;
}
.vk{
    width: 156px;
    height: 46px;
    display: inline-block;
    background: url('/img/vk2.png');
    margin-left: 61px;
    margin-bottom: 4px;
    border-radius: 3px;
}
.vk:hover {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 116, 215, 0.75);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 116, 215, 0.75);
box-shadow:         0px 0px 30px 0px rgba(0, 116, 215, 0.75);
}
.instagram{
    width: 156px;
    height: 46px;
    display: inline-block;
    background: url('/img/instag.png') no-repeat;
    background-size: cover;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
}
.instagram:hover{
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 137, 0, 0.75);
-moz-box-shadow:    0px 0px 30px 0px rgba(255, 137, 0, 0.75);
box-shadow:         0px 0px 30px 0px rgba(255, 137, 0, 0.75);
}
.fly_men{
    background: url('/img/fly_man.png');
    width: 218px;
    height: 133px;
    margin-left: 70px;
}
.slider1{
    height: 100px;
    top: 46px;
    width: 850px;
    left: 0px;
    right: 0;
    position: absolute;
    margin: 0 auto;
}
//carusel//
#wrapper, #prev, #next {
    //border-top: 1px solid #999;
    //border-bottom: 1px solid #999;
    //height: 170px;
    //position: absolute;
    //top: 50%;
    //margin-top: -85px;
}
#wrapper {
    width: 90%;
    left: 5%;
    overflow: hidden;
    position: absolute;
}

#prev, #next {
    /* background: center center no-repeat #ccc; */
    width: 16px;
    height: 32px;
    position: absolute;
    float: right;
    /* display: block; */
    top: 32px;
    z-index: 10;
}
#prev:hover, #next:hover {
	//background-color: #bbb;
}
#prev {
	background-image: url( /img/prev.png );
	left: 0;
}
#next {
	background-image: url( /img/next.png );
	right: 0;
}
//

/*------------PRICES------------*/
.left-price{
    height: 258px;
    width: 200px;
    left: 0px;
    position: absolute;
}
.right-price{
    height: 258px;
    width: 200px;
    right: 0px;
    position: absolute;
    top: 62px;
}
.price-slogan{
    width: 500px;
    height: 70px;
    font-family: newscondensed_bold;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 134px;
}
.line_up_line{
    width: 303px;
    height: 40px;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    background: url('/img/line_up_line.png');
}
.price-left{
    background: url('/img/price_left.png');
    position: absolute;
    width: 212px;
    height: 230px;
    margin-top: 3px;
    left: 70px;
}
.price-right{
    background: url('/img/price_right.png');
    position: absolute;
    width: 212px;
    height: 230px;
    margin-top: 3px;
    right: 70px;
}
.content_line_prices{
    z-index: 2;
    height: 258px;
    background: url("/img/background_prices.png") no-repeat center center;
    background-size: cover;
    margin-top: 62px;
}
.price_top_line{
    margin-top: 4px;
    width: 100%;
    height: 3px;
    background: #8e783e;
    position: absolute;
}
.print_background{
    background: #f6f6f6;
    margin: 0 auto;
    min-height: 500px;
}
.print_name{
    width: 500px;
    height: 70px;
    font-family: newscondensed_bold;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    color: #C52727;
    display: block;
    margin: 40px auto;
    
}
.print_box{
    box-shadow: 4px 4px 30px 0px rgba(50, 50, 50, 0.5);
    margin: 20px;
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
}
table.pr{
    width:1000px;
    border-collapse:separate;
    padding: 30px;
    border-spacing: 2px;
    color:#333333;
    font-size: 22px;
    font-family: newscondensed;
}

table.pr td, table.pr th{
    padding:10px;
    border:2px solid #c9c9c9;
    text-align:left;
    margin: 3px;
}
table.pr TH {
    background: #c52727; /* Цвет фона */
    color:#f6f6f6;
   }
td:first-child, th:first-child{
	//border-left:none;
}
td:last-child, th:last-child{
	//border-right:none;
}
tr:last-child td{
	//border-bottom:none;
}
.sp_price{
    height: 60px;
    margin-left: 50px;
    width: 470px;
    font-family: newscondensed_oblique;
    font-size: 20px;
    color: #c2c2c2;
}
/*------------PRICES------------*/

/*------------SERVICES------------*/

.services_box{
    margin-top: 64px;
    width: 100%;
    height: 540px;
    background: #C52727;
    //position: absolute;
}
.white_box_services{
    width: 100%;
    height: 60px;
    background: #f6f6f6;
}
.red_line_bottom_services{
    margin-bottom: 0px;
    width: 100%;
    height: 2px;
    background: #a72121;
    top: 596px;
    position: absolute;
}
//cssmenu
#cssmenu {
width: 262px;
}
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
margin: 8px 0px;
margin-left: 44px;
padding: 0;
border: 0;
list-style: none;
font-weight: normal;
text-decoration: none;
line-height: 1;
font-family: NewsCondensed;
font-size: 14px;
position: relative;
width: 262px;
top: 16px;
}
#cssmenu > ul > li > a {
font-size: 18px;
display: block;
color: #333333;
//text-shadow: 0 1px 1px #000;
background: #ffffff;
background: -moz-linear-gradient(#ffffff 0%, #f6f6f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
background: -webkit-linear-gradient(#ffffff 0%, #f6f6f6 100%);
background: linear-gradient(#ffffff 0%, #f6f6f6 100%);
}
#cssmenu a {
line-height: 14px;
padding: 6px 15px;
}
#cssmenu > ul > li.active > a {
background: #a72121;
color: #f6f6f6;
text-shadow: 0 1px 1px #a72121;
}
#cssmenu a:hover {
background: #a72121;
color: #f6f6f6;
text-shadow: 0 1px 1px #a72121;
}
#cssmenu a:active {
background: #a72121;
color: #f6f6f6;
text-shadow: 0 1px 1px #a72121;
}
#cssmenu > ul > li.active {
border-bottom: none;
}
#right_img >div{
    display: none;
}
#right_img >div.active{
    display: block;
}
#bot_content >div{
    display: none;
}
#bot_content >div.active{
    display: block;
}
.bbpe{
    position: absolute;
    width: 400px;
    height: 500px;
    left: -808px;
    top: 72px;
}
.line{
    background: #c64c4b;
    height: 26px;
    margin-bottom: 8px;
    width: 1000px;
}
.services_box_img_1{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_1.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_1_1{
    width: 600px;
    margin-top: 55px;
    text-transform: uppercase;
    font-family: newscondensed_bold;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
    text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}
.text_promo_1_2{
    width: 600px;
    margin-top: 25px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
    text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}
.services_box_img_2{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_2.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_2_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_2_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}

.services_box_img_3{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_3.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_3_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_3_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}

.services_box_img_4{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_4.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_4_1{
    width: 600px;
    margin-top: 80px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color: #f6f6f6;
    margin-left: 30px;
    line-height: 1;
}
.text_promo_4_2{
    width: 600px;
    margin-top: 30px;
    font-family: NewsCondensed;
    font-size: 25px;
    color: #f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}

.services_box_img_5{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_5.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_5_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_5_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_box_img_6{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_6.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_6_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_6_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_box_img_7{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_7.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_7_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_7_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_box_img_8{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_8.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_8_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_8_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_box_img_9{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_9.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_9_1{
    width: 600px;
    margin-top: 80px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color: #f6f6f6;
    margin-left: 30px;
    line-height: 1;
}
.text_promo_9_2{
    width: 600px;
    margin-top: 30px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_box_img_10{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_10.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_10_1{
    width: 600px;
    margin-top: 80px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
    line-height: 1;
}
.text_promo_10_2{
    width: 600px;
    margin-top: 30px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_box_img_11{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_11.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_11_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_11_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_box_img_12{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_12.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_12_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_12_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_box_img_13{
    width: 620px;
    height: 343px;
    position: absolute;
    right:0px;
    top:72px;
    background: url('/img/serv_img_13.png');
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.text_promo_13_1{
    width: 600px;
    margin-top: 130px;
    text-transform: uppercase;
    font-family: NewsCondensed;
    font-size: 64px;
    color:#f6f6f6;
    margin-left: 30px;
}
.text_promo_13_2{
    width: 600px;
    margin-top: 50px;
    font-family: NewsCondensed;
    font-size: 25px;
    color:#f6f6f6;
    text-transform: uppercase;
    margin-left: 30px;
}
.services_info{
    width: 80%;
    left: 0;
    right: 0;
    margin: 80px auto;
    background: #C52727;
    padding: 20px;
    color: #f6f6f6;
    font-family: newscondensed;
}
//cssmenu
/*------------SERVICES------------*/

/*------------CONTACTS------------*/

.cotacts_area{
    width: 100%;
    min-height: 300px;
    background: #f6f6f6;
}
.contact_box{
    width: 198px;
    height: 284px;
    margin: 20px;
    background: url('/img/contact_box.png');
    text-align: center;
    overflow:hidden;
    display: inline-block;
}

.contacts{
    min-height: 250px;
    width:68%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.photo1{
    width: 87px;
    height: 87px;
    margin: 10px auto;
    margin-top: 33px;
}
.contact_name{
    font-family: NewsCondensed;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}
.contact_post{
    font-family: NewsCondensed;
    font-size: 15px;
    color: #333333;
}
.contact_phone1{
    font-family: NewsCondensed;
    font-size: 17px;
    color: #333333;
    margin-top: 20px;
}
.contact_phone2{
    font-family: NewsCondensed;
    font-size: 12px;
    color: #333333;
    margin-bottom: 20px;
}
.contact_email{
    font-family: NewsCondensed;
    font-size: 15px;
    color: #333333;
}

.content_line_contacts{
    z-index: 2;
    height: 258px;
    width: 100%;
    background: #C52727;
    margin-top: 62px;
}
.contacts-slogan1{
    width: 500px;
    height: 70px;
    font-family: newscondensed_bold;
    font-size: 63px;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
}
.contacts-slogan2{
    width: 500px;
    height: 70px;
    font-family: newscondensed_bold;
    font-size: 63px;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 124px;
}
.right_contacts{
height: 258px;
width: 200px;
right: 0px;
position: absolute;
top: 62px;
}
.left_contacts{
height: 258px;
width: 200px;
left: 0px;
position: absolute;
top: 62px;
}
.arrow_contacts_left{
background: url('/img/arrow_contacts_left.png');
position: absolute;
width: 229px;
height: 108px;
margin-top: 68px;
left: 170px;
}
.arrow_contacts_right{
background: url('/img/arrow_contacts_right.png');
position: absolute;
width: 229px;
height: 108px;
margin-top: 68px;
right: 170px;  
}
.notebook_contacts{
background: url('/img/notebook_contacts.png');
position: absolute;
width: 133px;
height: 246px;
left: 0px;
}
.page_contacts{
background: url('/img/page_contacts.png');
position: absolute;
width: 132px;
height: 245px;
right: 0px; 
}
.map_area{
    //z-index: 2;
    height: 582px;
    background: url("/img/map_area.png") no-repeat center center;
    background-size: cover;
    //margin-top: 62px;
}
.white_layer{
    height: 455px;
    width: 989px;
    background: url("/img/white_layer.png") no-repeat center center;
    background-size: cover;
    margin-top: 65px;
}
#map{
    width: 990px;
    height: 455px;
    padding: 25px 25px;
}
/*------------CONTACTS------------*/
/*------------NEWS------------*/

.news_background{
    height: 258px;
    background: url("/img/background_news.png") no-repeat center center;
    background-size: cover;
    margin-top: 62px;
}
.news_news{
    background: url('/img/news_news.png');
    position: absolute;
    width: 157px;
    height: 201px;
    margin-top: 40px;
    left: 270px;
}
.news_coffe{
    background: url('/img/news_coffe.png');
    position: absolute;
    width: 74px;
    height: 64px;
    margin-top: 180px;
    left: 400px;
}
.news_micro{
width: 227px;
height: 29px;
display: block;
margin: auto auto;
position: absolute;
left: 0;
right: 0;
top: 157px;
background: url('/img/news_micro.png');
}

.news_slogan1{
    width: 300px;
    height: 70px;
    font-family: newscondensed;
    font-size: 64px;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 134px;
}
.news_slogan2{
    width: 300px;
    height: 70px;
    font-family: newscondensed_bold;
    font-size: 64px;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    text-transform: uppercase;
}
.news_line{
    width: 226px;
    height: 1px;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 270px;
    background: url('/img/news_line.png');
}
.news_ipad{
    background: url('/img/news_ipad.png');
    position: absolute;
    width: 134px;
    height: 194px;
    margin-top: 48px;
    right: 250px;
}
.news_iphone{
    background: url('/img/news_iphone.png');
    position: absolute;
    width: 51px;
    height: 84px;
    margin-top: 153px;
    right: 170px;
}
.news_body{
    background: #f6f6f6;
    margin: 0 auto;
    min-height: 200px;
}
.news_box{
    width: 770px;
    height:350px;
    margin:30px;
    border-top: 3px solid #404040;
    border-left: 3px solid #404040;
    border-right: 8px solid #a72121;
    border-bottom: 8px solid #a72121;   
    position: relative;
    left: 126px;
}
.news_top{
    background: url('/img/news_top.jpg');
    width: 9px;
    height: 7px;
    position: absolute;
    top: -3px;
    right: -9px;
}
.news_bottom{
    background: url('/img/news_bottom.jpg');
    width: 7px;
    height: 8px;
    position: absolute;
    bottom: -8px;
    left: -3px;
}
.news_img{
    border: 5px solid #a72121;
    width: 300px;
    height: 300px;
    margin: 10px 20px 20px 10px;
    background-size: cover!important;
    float:left;
}
.news_title{
    display: block;
    color:#a72121;
    text-transform: uppercase;
    font-size: 23px;
    font-family: newscondensed;
    float:left;
    margin-top: 10px;
    width: 56%;
    line-height: 23px;
}
.news_description{
    display: block;
    color: #000000;
    font-size: 20px;
    font-family: newscondensed;
    float: left;
    margin-top: 20px;
    width: 380px;
    height: 200px;
    line-height: 20px;
    overflow: hidden;
}

.news_button {
    border-radius: 0px;
    font-family: newscondensed;
    color: black;
    font-size: 18px;
    background: #f6f6f6;
    padding: 8px 8px 8px 8px;
    border: solid #c52727 2px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 310px;
    text-transform: uppercase;
}

.news_button:hover {
  background: #ddb6b6;
  cursor: pointer;
}
.news_date{
    margin: 10px 20px 20px 10px;
    display: block;
    right: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.news_box_description{
    width: 764px;
    min-height:350px;
    margin: 30px auto;
    border-top: 47px solid #c52727;
    border-left: 9px solid #c52727;
    border-right: 9px solid #c52727;
    border-bottom: 9px solid #c52727;   
    position: relative;
    //text-align: center;
}
#pre_line{
    position:absolute;
    width: 100%;
    height: 100px;
    top:-50px;
}
.news_description_title{
    text-align: center;
    font-family: newscondensed_bold;
    font-size: 30px;
    color: #f6f6f6;
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 700px;
    top: -45px;
}
.news_description_title2{
    position: relative;
    display: inline-block;
    text-align: center;
    background: #c52727;
    padding: 0 20px;
}
.news_description_title_line{
    background: #f6f6f6;
    position: absolute;
    width: 103%;
    height: 2px;
    top: -22px;
    left: -9px;
}
.news_description_content{
    position: relative;
    top: -20px;
}
.show_hide {
    display:none;
}
/*------------NEWS------------*/

/*------------REPORT------------*/

.report_background{
    height: 258px;
    background: url("/img/report_background.png") no-repeat center center;
    background-size: cover;
    margin-top: 62px;
}
.report_cameras{
    width: 218px;
    height: 25px;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 157px;
    background: url('/img/report_cameras.png');
}
.report_slogan1{
    width: 300px;
    height: 70px;
    font-family: newscondensed;
    font-size: 64px;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 134px;
}
.report_slogan2{
    width: 400px;
    height: 70px;
    font-family: newscondensed_bold;
    font-size: 64px;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    text-transform: uppercase;
}
.report_line{
    width: 331px;
    height: 1px;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 270px;
    background: url('/img/report_line.png');
}
.report_page{
    background: url('/img/report_page.png');
    position: absolute;
    width: 175px;
    height: 228px;
    margin-top: 48px;
    right: 250px;
}
.report_camera{
    background: url('/img/report_camera.png');
    position: absolute;
    width: 156px;
    height: 175px;
    margin-top: 60px;
    left: 180px;
    z-index: 2;
}
.report_photo_1{
    background: url('/img/report_photo_1.png');
    position: absolute;
    width: 115px;
    height: 159px;
    margin-top: 84px;
    left: 350px;
    z-index: 1;
}
.report_photo_2{
    background: url('/img/report_photo_2.png');
    position: absolute;
    width: 179px;
    height: 228px;
    margin-top: 10px;
    left: 270px;
}
.report_body{
    background: #f6f6f6;
    margin: 0 auto;
    min-height: 200px;
}
.report_box{
    width: 720px;
    height:240px;
    margin:40px;
    background: #C52727;
    position: relative;
    left: 126px;
}
.report_img{
    border: 5px solid #a72121;
    width: 256px;
    height: 194px;
    margin: 20px;
    background-size: cover!important;
    float:left;
}
.report_title{
    display: block;
    color:#ffffff;
    text-transform: uppercase;
    font-size: 23px;
    font-family: newscondensed;
    float:left;
    margin-top: 10px;
    width: 56%;
    line-height: 23px;  
}
.report_description{
    display: block;
    color:#ffffff;
    font-size: 20px;
    font-family: newscondensed;
    float:left;
    margin-top: 20px;
    width: 56%;
    line-height: 20px;
}
.report_button {
    border-radius: 0px;
    font-family: newscondensed;
    color: #ffffff;
    font-size: 18px;
    background: #C52727 ;
    padding: 8px 8px 8px 8px;
    border: solid #ffffff 2px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 310px;
    text-transform: uppercase;
    width: 120px;
}

.report_triangle{
    background: url('/img/report_triangle.png') no-repeat;
    width: 12px;
    height: 14px;
    display: inline-block;
    margin-left: 3px;
}
.report_button:hover {
  background: #a72121;
  cursor: pointer;
}
.report_data{
    color: #ffffff;
    margin: 10px 20px 20px 10px;
    display: block;
    right: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
/*------------REPORT------------*/


/*------------PORTFOLIO------------*/

.portfolio_img_1{
    background: url('/img/portfolio_img_1.png');
    position: absolute;
    width: 42px;
    height: 37px;
    margin-top: 60px;
    left: 430px;
    top: 80px; 
}
.portfolio_img_2{
    background: url('/img/portfolio_img_2.png');
    position: absolute;
    width: 29px;
    height: 38px;
    margin-top: 60px;
    left: 300px;
    top: 180px;   
}
.portfolio_img_3{
    background: url('/img/portfolio_img_3.png');
    position: absolute;
    width: 37px;
    height: 43px;
    margin-top: 60px;
    right: 370px;
    top: 20px; 
}
.portfolio_img_4{
    background: url('/img/portfolio_img_4.png');
    position: absolute;
    width: 25px;
    height: 18px;
    margin-top: 60px;
    left: 370px;
    top: 20px;   
}
.portfolio_img_5{
    background: url('/img/portfolio_img_5.png');
    position: absolute;
    width: 43px;
    height: 37px;
    margin-top: 60px;
    right: 230px;
    top: 150px;   
}
.portfolio_img_6{
    background: url('/img/portfolio_img_6.png');
    position: absolute;
    width: 24px;
    height: 23px;
    margin-top: 60px;
    left: 40px;
    top: 40px; 
}
.portfolio_img_7{
    background: url('/img/portfolio_img_7.png');
    position: absolute;
    width: 29px;
    height: 37px;
    margin-top: 60px;
    right: 316px;
    top: 185px;
}
.portfolio_img_8{
    background: url('/img/portfolio_img_8.png');
    position: absolute;
    width: 244px;
    height: 203px;
    /* margin-top: 60px; */
    top: 117px;
    left: 0;  
}
.portfolio_img_9{
    background: url('/img/portfolio_img_9.png');
    position: absolute;
    width: 242px;
    height: 232px;
    margin-top: 60px;
    right: 0px;   
    top:0;
}
.portfolio_line{
    width: 313px;
    height: 2px;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 171px;
    background: url('/img/portfolio_line.png');   
}
.portfolio_slogan1{
    width: 300px;
    height: 70px;
    font-family: newscondensed;
    font-size: 64px;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 134px;    
}
.portfolio_slogan2{
    width: 400px;
    height: 70px;
    font-family: newscondensed_bold;
    font-size: 64px;
    text-align: center;
    line-height: 100%;
    color: #f6f6f6;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    text-transform: uppercase;    
}
.portfolio_stars{
    width: 36px;
    height: 160px;
    display: block;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 126px;
    background: url('/img/portfolio_stars.png');     
}
.portfolio_background{
    height: 258px;
    background: #C52727;
    background-size: cover;
    margin-top: 62px;   
}
/*----------Selector-----------*/

/*----------Selector-----------*/
.portfolio_background_selector{
    height: 70px;
    background: #a72121;
    background-size: cover;
    position: relative;
}
.portfolio_selector{
    position: absolute;
    right: 0px;
    left:0px;
    top:0px;
    bottom: 0px;  
}
.portfolio_box{
    min-height: 200px;
    //background: #f6f6f6;
    background-size: cover;
}
#jqxWidget{
    margin: 20px auto;
}
.portfolio_container{
    width: 840px;
    margin: 80px auto;
    //height: 500px;
    position: relative;
    margin-bottom: 0;
}
/*------------PORTFOLIO------------*/

/*========DIALOG=========*/
.ui-dialog .ui-dialog-titlebar {
padding: .4em 1em;
position: relative;
display: none;
}
.dialog_title{
    text-transform: uppercase;
    color:#f6f6f6;
    text-align: center;
    //padding: 10px;
    font-size: 32px;
    margin-top: 28px;
}
.ui-widget-content {
    border-radius: 10px;
    border: none!important;
    background: #c52727!important;
}
#ContactForm_name{
    height: 50px;
    width: 655px;
    font-family: newscondensed_oblique;
    font-size: 25px;
    color:#444444;
    margin: 20px 0 20px 40px;
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#ContactForm_phone{
    height: 50px;
    width: 315px;
    font-family: newscondensed_oblique;
    font-size: 25px;
    color:#444444;
    margin: 10px 0 20px 40px;
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#ContactForm_email{
    height: 50px;
    width: 315px;
    font-family: newscondensed_oblique;
    font-size: 25px;
    color:#444444;
    margin: 10px 0 20px 20px;  
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#ContactForm_message{
    width: 660px;
    height: 145px;
    margin-left: 40px;
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
    resize: none;
    padding-top: 10px;
}
label{
    color:#f6f6f6;
    font-size: 25px;
    font-family: newscondensed;
    line-height: 1;
    margin-left: 40px;
}
.dialog_footer{
    background: #a72121;
    color: #f6f6f6;
    font-size: 20px;
    font-family: newscondensed;
    line-height: 1;
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
.dialog_button{
    background: url('/img/dialog_button.png');
    width: 279px!important;
    height: 84px;
    margin:20px;
    border: none;
    color:#272727;
    font-family: newscondensed!important;
    font-size: 30px!important;
    padding-bottom: 14px;
    padding-left: 0px !important;
}
.dialog_button:hover{
    background: url('/img/dialog_button_active.png');
    height: 84px;
}
.dialog_button input {
    color: #444444;
    font-size: 30px;
    font-family: newscondensed;  
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    padding: 0!important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
padding-left: 20px;
}

#ContactForm_name_em_{
    margin-left: 40px;
    position: absolute;
    top: 156px;
}
#ContactForm_phone_em_{
    margin-left: 40px;
    position: absolute;
    top: 236px; 
}
#ContactForm_email_em_ {
    margin-left: 381px;
    position: absolute;
    top: 236px;
}
#ContactForm_message_em_{
    margin-left: 40px;
    position: absolute;
    top: 430px;
}
/*========DIALOG=========*/

/*========ORDER=========*/
#orderDialog{
    height: 678px!important;
}
#order_form_message_label{
    margin-bottom: 20px;
    display: block;
}
#order_dialog_button{
    position: absolute;
    top: 393px;
    left: 400px;
}
#OrderForm_name_em_{
    margin-left: 40px;
    position: absolute;
    top: 151px
}
#OrderForm_company_name_em_{
    margin-left: 39px;
    position: absolute;
    top: 221px;
}
#OrderForm_activities_of_the_company_em_ {
    margin-left: 380px;
    position: absolute;
    top: 221px;
}
#OrderForm_phone_em_{
    margin-left: 39px;
    position: absolute;
    top: 289px;
}
#OrderForm_email_em_{
    margin-left: 379px;
    position: absolute;
    top: 289px;
}
#OrderForm_message_em_{
    margin-left: 39px;
    position: absolute;
    top: 484px;
}

#OrderForm_name{
    height: 50px;
    width: 655px;
    font-family: newscondensed_oblique;
    font-size: 25px;
    color:#444444;
    margin: 20px 0 10px 40px;
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#OrderForm_phone{
    height: 50px;
    width: 315px;
    font-family: newscondensed_oblique;
    font-size: 25px;
    color:#444444;
    margin: 10px 0 10px 40px;
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#OrderForm_email{
    height: 50px;
    width: 315px;
    font-family: newscondensed_oblique;
    font-size: 25px;
    color:#444444;
    margin: 10px 0 10px 20px;  
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#OrderForm_company_name{
    height: 50px;
    width: 315px;
    font-family: newscondensed_oblique;
    font-size: 20px;
    color:#444444;
    margin: 10px 0 10px 40px;
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
    background: #efc1bb;
}
#OrderForm_activities_of_the_company{
    height: 50px;
    width: 315px;
    font-family: newscondensed_oblique;
    font-size: 20px;
    color:#444444;
    margin: 10px 0 10px 20px;  
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
    background: #efc1bb;
}
#OrderForm_message{
    width: 320px;
    height: 145px;
    margin-left: 40px;
    border: 1px solid #a14a40;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
    resize: none;
    padding-top: 10px;
    /* float: left; */
    position: absolute;
    left: 15px;
    top: 340px;
}
#order_checkbox{
    position: absolute;
    right: 52px;
    top: 338px;

}
#order_checkbox_title{
    position: absolute;
    right: 75px;
    top: 301px;
    font-family: newscondensed;
    font-size: 25px;
    color:#f6f6f6;
}
#jqxDropDownList{
    float: left;
    width: 270px!important;
    height: 25px;
}
#listBoxjqxDropDownList{
    width: 270px !important;
}
#listBoxContentinnerListBoxjqxDropDownList{
    width: 270px !important;
}
#innerListBoxjqxDropDownList{
    width: 270px!important;
}
#verticalScrollBarinnerListBoxjqxDropDownList{
    left: 250px!important;
}
.order_footer{
    background: #a72121;
    color: #f6f6f6;
    font-size: 20px;
    font-family: newscondensed;
    line-height: 1;
    width: 100%;
    height: 170px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
#pazaza{
    position: absolute;
    margin-left: 420px;
    line-height: 1;
}
#plz{
    position: absolute;
    margin-left: 40px;
    line-height: 1; 
    font-size: 25px;
}
#brif{
    position: absolute;
    margin-left: 40px;
    margin-top: 110px;
    line-height: 1; 
    font-size: 15px;
}
#download_file{
    width:152px; 
    height:42px;
    background: url('/img/download_file.png');
    position: absolute;
    margin-left: 40px;
    margin-top:47px;
}
#download_file:hover {
    background: url('/img/download_file_hovers.png'); 
}


/*========ORDER=========*/
/*++++++++PORTFOLIO_SOTI++++++++++*/
.hexagon_box{
    width: auto;
    height: 262px;
    position: absolute;
    background: url('/img/orange_hexagon.png');
    background-size: 100%;
    background-position-x: -2px;
}
/*_*/

/* Styles for “Fork” link */
.b-fork {
	position: absolute;
	top: 0;
	left: 0;
	}
	.b-fork-link {
		display: block;

		padding: 10px 40px;
		margin: 2em 0 0 -3em;
	
		font: bold 16px/1 Helvetica, Arial, sans-serif;
		text-decoration: none;

		color: #FFF;
		background: #F40B00;
	
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
		     -o-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		-webkit-transition: background .3s;
		   -moz-transition: background .3s;
		     -o-transition: background .3s;
		        transition: background .3s;
		}
	A.b-fork-link:hover {
		background: #0B00F4;
		}

BODY {
	font-family: Helvetica, Arial, sans-serif;
	}

h1 {
    text-align: center;
	}

/* Styles for polygons! */
.b-polygon {
    visibility: hidden;
    display: inline-block;

    overflow: hidden;

    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .b-polygon-part {
        visibility: hidden;
        display: block;
        overflow: hidden;

        width: 100%;
        height: 100%;
        }
    .b-polygon-part_content:after {
        content:"";

        display: inline-block;

        height: 100%;

        vertical-align: middle;
        }
    .b-polygon-part_helper,
    .b-polygon-part_content {
        visibility: visible;
        }
    /*.b-polygon-part_content {
        color: #777;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4);

        background: #EEE;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,.4)));
        background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
        background-image:    -moz-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
        background-image:     -ms-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
        background-image:      -o-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
        background-image:         linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
        }*/
 
.b-polygon-part_content {
color: #777;
text-shadow: 0 -1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4);
//background: url('/img/portfolio/1.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
/* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,.4))); */
/* background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4)); */
background-image: -moz-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
background-image: -ms-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
background-image: -o-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
background-image: linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,.4));
}

.b-polygon:hover .b-polygon-part_content {
color: #AAA;
text-shadow: 0 1px 0 rgba(0,0,0,0.4), 0 -1px 0 rgba(255,255,255,0.6);

/*background: #999;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,.4)), to(rgba(0,0,0,.1)));
background-image: -webkit-linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,.1));
background-image:    -moz-linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,.1));
background-image:     -ms-linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,.1));
background-image:      -o-linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,.1));
background-image:         linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,.1));*/
}

.b-polygon_hexagon,
.b-polygon_dodecagon {
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    }
.b-polygon_hexagon>.b-polygon-part,
.b-polygon_dodecagon>.b-polygon-part,
.b-polygon_hexagon>.b-polygon-part>.b-polygon-part,
.b-polygon_dodecagon>.b-polygon-part>.b-polygon-part {
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

.b-polygon_octagon {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    }
.b-polygon_octagon2 {
    -webkit-transform: rotate(66.6deg);
       -moz-transform: rotate(66.6deg);
        -ms-transform: rotate(66.6deg);
         -o-transform: rotate(66.6deg);
            transform: rotate(66.6deg);
    }
.b-polygon_octagon>.b-polygon-part {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    }
.b-polygon_octagon2>.b-polygon-part>.b-polygon-part {
    -webkit-transform: rotate(-21.6deg);
       -moz-transform: rotate(-21.6deg);
        -ms-transform: rotate(-21.6deg);
         -o-transform: rotate(-21.6deg);
            transform: rotate(-21.6deg);
    }


.hexagon-in2:hover {
    background-image: url(http://placekitten.com/241/241);
    }

.b-polygon_square {
    width: 100px;
    height: 100px;
    }
.b-polygon_octagon {
    width: 100px;
    height: 100px;
    }
.b-polygon_octagon2 {
    margin: 4px;
    }
    .b-polygon_octagon2 .b-polygon-part_content {
        width: 108px;
        height: 108px;
        margin: -4px;
        }
.b-polygon_hexagon {
    width: 200px;
    height: 100px;
    margin: 0 -42px;
    }
    .b-polygon_hexagon .b-polygon-part_content {
        width: 116px;
        height: 100px;
        margin: 0 42px;
        }
.b-polygon_hexagon2 {
    width: 209px;
    height: 411px;
    margin: -73px 24px;
    }
/*.b-polygon_hexagon2 .b-polygon-part_content {
    width: 200px;
    height: 316px;
    margin: 42px 0;
}*/
.b-polygon_hexagon2 .b-polygon-part_content {
    width: 208px;
    height: 245px;
    margin: 82px 0px;
    background-size: cover!important;
}
.b-polygon_dodecagon {
    width: 100px;
    height: 100px;
    margin: 0;
    }

.b-polygons {
    text-align: center;
    padding-right: 27px;
    }

.b-megahexagon {
    width: 406px;
    margin: 0 auto 2em;
    padding: 0 36px 50px 18px;
    counter-reset:hexagon;
    }
    .b-megahexagon .b-polygon {
        margin: 0 -54px -50px 26px;
        }
    .b-megahexagon .b-polygon-part_content:before {
        content:counter(hexagon);
        counter-increment:hexagon;

        font-size: 3em;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        }
    .b-megahexagon .b-polygon:nth-child(5n-1){
        margin-left: -60px;
        }
    .b-megahexagon .b-polygon:nth-child(5n+1) {
        margin-right: -100px;
        }
    .b-megahexagon .b-polygon:first-child,
    .b-megahexagon .b-polygon:last-child {
        margin-left: 112px;
        margin-right: 112px;
        }
/*++++++++PORTFOLIO_SOTI++++++++++*/
#fancybox-wrap {
        width: auto !important;
    }
.carousel_img{
    width: 149px!important;
    height: 110px!important;
    text-align: center;
    float:left!important;
    margin:0px 2px!important;
    background: #f6f6f6;
    background-size: cover!important;
    overflow: hidden;
}
.carousel_img img{
    max-height: 110px!important;
    max-width: 149px!important;
}
table.va {
    max-height: 100%!important;
    max-width: 100%!important;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
table.va td {
    max-height: 100%!important;
    max-width: 100%!important;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
//============ANIMATIONS================


.promo {
    
   
}
.tee_hand{
   
   
}
.active[animate]{
    opacity: 1!important;
}
#logo_img{
   
}
.right_hand{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    
}
.left_hand{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    
}
.bbpe.cssmenu{
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
}
.report_photo_1{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
}
.report_photo_2{
   -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s; 
}
.report_page{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s; 
}
//============ANIMATIONS================

.logo_footer {
    position: absolute;
    bottom: -28px;
    left: 0;
    text-align: center;
    right: 0px;
}
.footer_mir_it{
    position: absolute;
    bottom: -28px;
    /* left: 0; */
    text-align: center;
    right: -200px;
}
.created_by{
    font-size: 20px;
    font-family: pwscratchy;
    color: #f6f6f6;
    float: inside;
    margin-top: -10px;
}
#ym{
    position: absolute;
    bottom: -33px;
    left: -120px;
    text-align: center;
    /* right: -100px; */
}